.bg0 {
  background: url("http://subtlepatterns.com/patterns/escheresque_ste.png");
}

.bg1 {
  background: url("http://subtlepatterns.com/patterns/diamond_upholstery.png");
}

.bg2 {
  background: url("http://subtlepatterns.com/patterns/retina_wood.png");
}







body {

  background: tomato;

}



.ui.segment {

  text-align: center;

}


p {
  font-family: 'Arvo', serif;

  margin-top: 15px;

}


li {
  font-family: 'Arvo', serif;

  list-style: none;
  padding: 15px;
  font-size: 25px;

}

h2 {
  font-family: 'Arvo', serif;

  font-size: 100px;


}