
.ui.action.input {

 margin: auto;

}



h1 {

  font-family: 'Arvo', serif;
  text-align: center;
  font-size: 20px;
  color: white;
  letter-spacing: 5px;

}

.titletop {

  font-size: 50px;
  margin-bottom: -10px;
  color: white;
  text-shadow: 2px 2px #635a44;


}

.titlebottom {

  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #635a44;

}



.ui.segment {

  text-align: center;

}


p {
  font-family: 'Arvo', serif;
  margin-top: 15px;
  color: white;
  background-color: #99d9ed;



}


li {
  font-family: 'Arvo', serif;
  list-style: none;
  padding: 6px;
  font-size: 25px;
  color: #99d9ed;


}

h2 {
  font-family: 'Arvo', serif;
  font-size: 100px;
  margin: 10px 0;
  color: #99d9ed;



}



ul {

  margin-right: 35px;

}



.ui.button {

background-color: #99d9ed;
color: white;
margin: 0;

}






/* Mobile */
@media screen and (min-width: 1px) {

      html {
          background: none;
          background-color: #99d9ed;

      }




}





/* Mobile */
@media screen and (min-width: 345px) {




      .ui.grid .column>.ui.segment:only-child  {

        margin: 0px 50px;

      }

      html {
          background: url(../img/bg.png) no-repeat center center fixed;
          -webkit-background-size: cover;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }



}





/* tablet */
@media screen and (min-width: 768px) {

        .ui.grid .column>.ui.segment:only-child  {

          margin: 0px 100px;

        }





}


/* desktop */
@media screen and (min-width: 1024px) {

        .ui.grid .column>.ui.segment:only-child {

          margin: 0px 200px;

        }





}